Repository timkrebs/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-fmt, packer-validate, kubeconform, shellcheck, shfmt, trivy-config

Path conditions:
  packer-fmt: any of: \.pkr\.hcl$
  packer-validate: any of: \.pkr\.hcl$
  kubeconform: any of: ^kubernetes/.*\.yaml$, but not: ^kubernetes/clusters/homelab/flux-system/gotk-components\.yaml$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  trivy-config: any of: \.(yaml|yml|json|tf)$, but not: ^kubernetes/clusters/homelab/flux-system/gotk-components\.yaml$

feat: Update allowed domains and alt names for PKI secret backend in Vault configuration
  terraform/stacks/02-vault-infra/main.tf
  terraform/stacks/03-kubernetes/main.tf
Due: trivy-config

feat: Enable local CA JWT disabling for Kubernetes auth backend configuration
  terraform/stacks/02-vault-infra/main.tf
Due: trivy-config

feat: Update default VM template ID for cloning to Ubuntu 24.04 Noble
  terraform/stacks/03-kubernetes/variables.tf
Due: trivy-config

feat: Add Packer templates and configuration files for Ubuntu 24.04 Noble VM instances
  packer/proxmox/ubuntu-server-jammy/http/user-data.pkrtpl.hcl
  packer/proxmox/ubuntu-server-jammy/ubuntu-server-jammy.pkr.hcl
Due: packer-fmt, packer-validate

Delete .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-deploy.yml
Due: trivy-config

feat: Add user-data and packer build log for Ubuntu 24.04 Noble VM setup
  packer/proxmox/ubuntu-server-noble/http/user-data.pkrtpl.hcl
  packer/proxmox/ubuntu-server-noble/packer-build.log
  packer/proxmox/ubuntu-server-noble/ubuntu-server-noble.pkr.hcl
Due: packer-fmt, packer-validate

feat: Add Proxmox EC2 module with example configurations and documentation
  terraform/modules/terraform-proxmox-ec2/.tflint.hcl
  terraform/modules/terraform-proxmox-ec2/CONTRIBUTING.md
  terraform/modules/terraform-proxmox-ec2/LICENSE
  terraform/modules/terraform-proxmox-ec2/README.md
  terraform/modules/terraform-proxmox-ec2/examples/basic/main.tf
  terraform/modules/terraform-proxmox-ec2/examples/basic/outputs.tf
  terraform/modules/terraform-proxmox-ec2/examples/basic/terraform.tfvars.example
  terraform/modules/terraform-proxmox-ec2/examples/basic/variables.tf
  terraform/modules/terraform-proxmox-ec2/locals.tf
  terraform/modules/terraform-proxmox-ec2/main.tf
  terraform/modules/terraform-proxmox-ec2/outputs.tf
  terraform/modules/terraform-proxmox-ec2/variables.tf
  terraform/modules/terraform-proxmox-ec2/versions.tf
Due: trivy-config

feat: initial commit of terraform-proxmox-kubernetes module
  terraform/modules/terraform-proxmox-kubernetes/.tflint.hcl
  terraform/modules/terraform-proxmox-kubernetes/CONTRIBUTING.md
  terraform/modules/terraform-proxmox-kubernetes/LICENSE
  terraform/modules/terraform-proxmox-kubernetes/README.md
  terraform/modules/terraform-proxmox-kubernetes/cloud-init.tf
  terraform/modules/terraform-proxmox-kubernetes/examples/basic/main.tf
  terraform/modules/terraform-proxmox-kubernetes/examples/basic/outputs.tf
  terraform/modules/terraform-proxmox-kubernetes/examples/basic/terraform.tfvars.example
  terraform/modules/terraform-proxmox-kubernetes/examples/basic/variables.tf
  terraform/modules/terraform-proxmox-kubernetes/locals.tf
  terraform/modules/terraform-proxmox-kubernetes/main.tf
  terraform/modules/terraform-proxmox-kubernetes/outputs.tf
  terraform/modules/terraform-proxmox-kubernetes/templates/k3s-agent-cloud-init.yaml.tftpl
  terraform/modules/terraform-proxmox-kubernetes/templates/k3s-server-cloud-init.yaml.tftpl
  terraform/modules/terraform-proxmox-kubernetes/variables.tf
  terraform/modules/terraform-proxmox-kubernetes/versions.tf
Due: trivy-config

feat: initial commit of terraform-proxmox-rds module
  terraform/modules/terraform-proxmox-rds/.terraform.lock.hcl
  terraform/modules/terraform-proxmox-rds/CONTRIBUTING.md
  terraform/modules/terraform-proxmox-rds/LICENSE
  terraform/modules/terraform-proxmox-rds/README.md
  terraform/modules/terraform-proxmox-rds/examples/basic/main.tf
  terraform/modules/terraform-proxmox-rds/examples/basic/outputs.tf
  terraform/modules/terraform-proxmox-rds/examples/basic/terraform.tfvars.example
  terraform/modules/terraform-proxmox-rds/examples/basic/variables.tf
  terraform/modules/terraform-proxmox-rds/locals.tf
  terraform/modules/terraform-proxmox-rds/main.tf
  terraform/modules/terraform-proxmox-rds/outputs.tf
  terraform/modules/terraform-proxmox-rds/templates/postgres-cloud-init.yaml.tftpl
  terraform/modules/terraform-proxmox-rds/variables.tf
  terraform/modules/terraform-proxmox-rds/versions.tf
Due: trivy-config

feat: Add Terraform module for deploying K3s on Proxmox VE
  terraform/modules/terraform-proxmox-pke/.tflint.hcl
  terraform/modules/terraform-proxmox-pke/CONTRIBUTING.md
  terraform/modules/terraform-proxmox-pke/LICENSE
  terraform/modules/terraform-proxmox-pke/README.md
  terraform/modules/terraform-proxmox-pke/cloud-init.tf
  terraform/modules/terraform-proxmox-pke/examples/basic/main.tf
  terraform/modules/terraform-proxmox-pke/examples/basic/outputs.tf
  terraform/modules/terraform-proxmox-pke/examples/basic/terraform.tfvars.example
  terraform/modules/terraform-proxmox-pke/examples/basic/variables.tf
  terraform/modules/terraform-proxmox-pke/locals.tf
  terraform/modules/terraform-proxmox-pke/main.tf
  terraform/modules/terraform-proxmox-pke/outputs.tf
  terraform/modules/terraform-proxmox-pke/templates/k3s-agent-cloud-init.yaml.tftpl
  terraform/modules/terraform-proxmox-pke/templates/k3s-server-cloud-init.yaml.tftpl
  terraform/modules/terraform-proxmox-pke/variables.tf
  terraform/modules/terraform-proxmox-pke/versions.tf
Due: trivy-config

feat: Update dependabot configuration and add .gitignore for environment and build files
  .github/dependabot.yml
  .gitignore
Due: trivy-config

feat: Add GitHub Actions workflow for building Ubuntu Noble instance templates
  .github/workflows/packer-ubuntu-noble-instances.yml
  .gitignore
Due: trivy-config

refactor: Simplify Packer workflow by removing PACKER_DIR variable and using current directory
  .github/workflows/packer-ubuntu-noble-instances.yml
Due: trivy-config

feat: Add HTTP bind address for Packer autoinstall settings
  packer/proxmox/ubuntu-noble-instances/ubuntu-noble-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: bumped the ssh_timeout to 45min because of packer build timeout
  packer/proxmox/ubuntu-noble-instances/ubuntu-noble-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: update Packer autoinstall settings to use vmbr0 for HTTP interface
  packer/proxmox/ubuntu-noble-instances/ubuntu-noble-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: update default instance type to t3.small and remove t3.nano and t3.micro mappings
  packer/proxmox/ubuntu-noble-instances/ubuntu-noble-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: add ssh_password variable for cloud-init user to enable password SSH login
  terraform/modules/terraform-proxmox-ec2/main.tf
  terraform/modules/terraform-proxmox-ec2/variables.tf
Due: trivy-config

feat: update VM ID mappings to remove t3.nano and t3.micro
  .github/workflows/packer-ubuntu-noble-instances.yml
Due: trivy-config

feat: remove t3.nano and t3.micro instance types from configurations and documentation
  .github/workflows/packer-ubuntu-noble-instances.yml
  packer/proxmox/ubuntu-noble-instances/ubuntu-noble-instances.pkr.hcl
  terraform/modules/terraform-proxmox-ec2/README.md
  terraform/modules/terraform-proxmox-ec2/locals.tf
  terraform/modules/terraform-proxmox-ec2/variables.tf
  terraform/modules/terraform-proxmox-pke/README.md
  terraform/modules/terraform-proxmox-pke/locals.tf
  terraform/modules/terraform-proxmox-pke/variables.tf
  terraform/modules/terraform-proxmox-rds/README.md
  terraform/modules/terraform-proxmox-rds/locals.tf
  terraform/modules/terraform-proxmox-rds/variables.tf
Due: packer-fmt, packer-validate, trivy-config

feat: update VM ID mappings for instance types to reflect new values
  .github/workflows/packer-ubuntu-noble-instances.yml
Due: trivy-config

feat: add initial Terraform configuration for Proxmox Kubernetes Engine cluster
  terraform/pke-vault/.gitignore
  terraform/pke-vault/.terraform.lock.hcl
  terraform/pke-vault/README.md
  terraform/pke-vault/main.tf
  terraform/pke-vault/outputs.tf
  terraform/pke-vault/terraform.tf
  terraform/pke-vault/variables.tf
Due: trivy-config

feat: add detailed setup instructions for Vault with Kubernetes HA and TLS
  terraform/pke-vault/README.md
Due: none

feat: Add Windows 11 gaming instance templates and provisioning scripts
  .github/workflows/packer-win11-gaming-instances.yml
  packer/proxmox/win11-gaming-instances/files/Autounattend.xml.pkrtpl.hcl
  packer/proxmox/win11-gaming-instances/files/setup.ps1
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
  terraform/gaming-vm/main.tf
  terraform/gaming-vm/outputs.tf
  terraform/gaming-vm/terraform.tf
  terraform/gaming-vm/terraform.tfvars
  terraform/gaming-vm/variables.tf
Due: packer-fmt, packer-validate, trivy-config

feat: Add Terraform configuration for Windows 11 gaming VM with GPU passthrough and setup scripts
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
  terraform/modules/terraform-proxmox-gaming/locals.tf
  terraform/modules/terraform-proxmox-gaming/main.tf
  terraform/modules/terraform-proxmox-gaming/outputs.tf
  terraform/modules/terraform-proxmox-gaming/templates/setup.ps1.tftpl
  terraform/modules/terraform-proxmox-gaming/variables.tf
  terraform/modules/terraform-proxmox-gaming/versions.tf
Due: packer-fmt, packer-validate, trivy-config

feat: Update Packer configuration to launch sysprep asynchronously for Windows 11 gaming VM
  packer/proxmox/win11-gaming-instances/files/setup.ps1
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update Windows 11 gaming VM Packer template to include iso_storage_pool and adjust unmount setting
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Enhance boot settings for Windows 11 gaming VM to improve reliability during initialization
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update Windows 11 gaming VM template to disable pre-enrolled Secure Boot keys and switch boot ISO type to IDE for improved compatibility
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update Windows 11 gaming VM template to use SATA for boot ISO and additional ISOs for improved compatibility with OVMF
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update Windows 11 gaming VM template to improve boot ISO handling and timing for OVMF compatibility
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Enhance Windows 11 Pro installation and WinRM setup in Autounattend file for improved automation
  packer/proxmox/win11-gaming-instances/files/Autounattend.xml.pkrtpl.hcl
Due: none

feat: Update Autounattend file to enable unattended installation without product key and enhance VM template settings for improved performance
  packer/proxmox/win11-gaming-instances/files/Autounattend.xml.pkrtpl.hcl
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update cache option in Windows 11 gaming VM template for improved performance
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update Windows 11 gaming VM template to use IDE for boot ISO and adjust SCSI controller for improved compatibility
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update boot ISO in Windows 11 gaming VM template to use the latest version for improved compatibility
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update EFI and boot settings in Windows 11 gaming VM template for improved compatibility and reliability
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate

feat: Update Autounattend and Packer template for Windows 11 gaming VM with new product key and ISO version for improved installation process
  packer/proxmox/win11-gaming-instances/files/Autounattend.xml.pkrtpl.hcl
  packer/proxmox/win11-gaming-instances/win11-gaming-instances.pkr.hcl
Due: packer-fmt, packer-validate
