Repository timkrebs/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-fmt, packer-validate, kubeconform, shellcheck, shfmt, trivy-config

Path conditions:
  packer-fmt: any of: \.pkr\.hcl$
  packer-validate: any of: \.pkr\.hcl$
  kubeconform: any of: ^kubernetes/.*\.yaml$, but not: ^kubernetes/clusters/homelab/flux-system/gotk-components\.yaml$
  shellcheck: any of: \.(sh|bash)$
  shfmt: any of: \.(sh|bash)$
  trivy-config: any of: \.(yaml|yml|json|tf)$, but not: ^kubernetes/clusters/homelab/flux-system/gotk-components\.yaml$

fix: remove HCP/Terraform Cloud dependencies for homelab
  .github/workflows/packer-build.yml
  .github/workflows/packer-validate.yml
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-validate.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/01-infrastructure/variables.tf
  terraform/stacks/02-kubernetes/main.tf
  terraform/stacks/03-platform/main.tf
  terraform/stacks/04-applications/main.tf
Due: packer-fmt, packer-validate, trivy-config

fix: remove HCP/Terraform Cloud dependencies for homelab (#4)
  .github/workflows/packer-build.yml
  .github/workflows/packer-validate.yml
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-validate.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/01-infrastructure/variables.tf
  terraform/stacks/02-kubernetes/main.tf
  terraform/stacks/03-platform/main.tf
  terraform/stacks/04-applications/main.tf
Due: packer-fmt, packer-validate, trivy-config

feat: enable HCP Packer registry and Terraform Cloud backend
  .github/workflows/packer-build.yml
  .github/workflows/packer-validate.yml
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-validate.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/01-infrastructure/variables.tf
  terraform/stacks/02-kubernetes/main.tf
  terraform/stacks/02-kubernetes/variables.tf
  terraform/stacks/03-platform/main.tf
  terraform/stacks/03-platform/variables.tf
  terraform/stacks/04-applications/main.tf
  terraform/stacks/04-applications/variables.tf
Due: packer-fmt, packer-validate, trivy-config

feat: enable HCP Packer registry and Terraform Cloud backend (#5)
  .github/workflows/packer-build.yml
  .github/workflows/packer-validate.yml
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-validate.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/01-infrastructure/variables.tf
  terraform/stacks/02-kubernetes/main.tf
  terraform/stacks/02-kubernetes/variables.tf
  terraform/stacks/03-platform/main.tf
  terraform/stacks/03-platform/variables.tf
  terraform/stacks/04-applications/main.tf
  terraform/stacks/04-applications/variables.tf
Due: packer-fmt, packer-validate, trivy-config

fix(ci): require self-hosted runner or local execution for infrastructure access
  .github/workflows/packer-build.yml
  .github/workflows/terraform-deploy.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate, trivy-config

fix(ci): use GitHub-hosted runners for Packer builds
  .github/workflows/packer-build.yml
Due: trivy-config

fix(packer): use CD-ROM for autoinstall instead of HTTP server
  packer/proxmox/ubuntu-2404-server/http/meta-data
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate

fix(ci): install xorriso for CD-ROM ISO creation in Packer build
  .github/workflows/packer-build.yml
Due: trivy-config

fix(packer): add force=true to overwrite existing VMs
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate

fix(packer): use -force flag in packer build command
  .github/workflows/packer-build.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate, trivy-config

fix(packer): simplify boot_command for CD-ROM autoinstall
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate

fix: update boot command for Ubuntu 24.04 autoinstall and require self-hosted runner
  .github/workflows/packer-build.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate, trivy-config

fix: install unzip and other required tools on self-hosted runner
  .github/workflows/packer-build.yml
Due: trivy-config

fix: correct boot command for Ubuntu 24.04 autoinstall with GRUB command line
  packer/proxmox/ubuntu-2404-server/http/user-data
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate

fix: use GRUB edit mode for autoinstall boot command
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate

refactor: rewrite packer template based on working ubuntu-server-noble example
  packer/proxmox/ubuntu-2404-server/files/99-pve.cfg
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  packer/proxmox/ubuntu-server-noble/files/99-pve.cfg
  packer/proxmox/ubuntu-server-noble/http/meta-data
  packer/proxmox/ubuntu-server-noble/http/user-data
  packer/proxmox/ubuntu-server-noble/ubuntu-server-noble.pkr.hcl
  packer/proxmox/ubuntu-server-noble/ubuntu-server-noble.pkr.hcl.backup
Due: packer-fmt, packer-validate

refactor: rewrite packer template based on working ubuntu-server-noble example
  packer/proxmox/ubuntu-server-noble/files/99-pve.cfg
  packer/proxmox/ubuntu-server-noble/http/meta-data
  packer/proxmox/ubuntu-server-noble/http/user-data
  packer/proxmox/ubuntu-server-noble/ubuntu-server-noble.pkr.hcl
  packer/proxmox/ubuntu-server-noble/ubuntu-server-noble.pkr.hcl.backup
Due: packer-fmt, packer-validate

refactor: rewrite packer template based on working ubuntu-server-noble example
  packer/proxmox/ubuntu-2404-server/http/user-data
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  packer/proxmox/ubuntu-2404-server/variables.pkr.hcl
Due: packer-fmt, packer-validate

refactor: rewrite packer template based on working ubuntu-server-noble example
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  terraform/modules/proxmox-vm/main.tf
  terraform/modules/proxmox-vm/variables.tf
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/02-kubernetes/main.tf
  terraform/stacks/02-kubernetes/outputs.tf
  terraform/stacks/04-applications/main.tf
Due: packer-fmt, packer-validate, trivy-config

refactor: rewrite packer template based on working ubuntu-server-noble example
  packer/proxmox/ubuntu-2404-server/http/user-data
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate

refactor: rewrite packer template based on working ubuntu-server-noble example
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate

refactor: update network configuration and add SSH username variable in packer templates
  packer/proxmox/ubuntu-2404-server/http/user-data
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
  packer/proxmox/ubuntu-2404-server/variables.pkr.hcl
Due: packer-fmt, packer-validate

refactor: update network configuration and add SSH username variable in packer templates
  .github/workflows/packer-build.yml
  packer/proxmox/ubuntu-2404-server/ubuntu-2404.pkr.hcl
Due: packer-fmt, packer-validate, trivy-config

refactor: update network configuration and add SSH username variable in packer templates
  packer/proxmox/ubuntu-2404-server/http/user-data
Due: none

refactor: update network configuration and add SSH username variable in packer templates
  .github/workflows/packer-build.yml
  .gitignore
  packer/proxmox/example/LICENSE
  packer/proxmox/example/README.md
  packer/proxmox/example/build.pkr.hcl
  packer/proxmox/example/hashicups.service
  packer/proxmox/example/setup-deps-hashicups.sh
  packer/proxmox/ubuntu-2404-server/README.md
  packer/proxmox/ubuntu-2404-server/build.sh
  packer/proxmox/ubuntu-2404-server/secrets.pkrvars.hcl.example
Due: packer-fmt, packer-validate, shellcheck, shfmt, trivy-config

refactor: Refactor Proxmox Packer Templates and Scripts
  .github/workflows/packer-build.yml
  Makefile
  packer/proxmox/.gitignore
  packer/proxmox/example/LICENSE
  packer/proxmox/example/README.md
  packer/proxmox/example/build.pkr.hcl
  packer/proxmox/example/hashicups.service
  packer/proxmox/example/setup-deps-hashicups.sh
  packer/proxmox/ubuntu-2404-server/README.md
  packer/proxmox/ubuntu-2404-server/build.sh
  packer/proxmox/ubuntu-2404-server/http/meta-data
  packer/proxmox/ubuntu-2404-server/scripts/cleanup.sh
  packer/proxmox/ubuntu-2404-server/scripts/k8s-prereqs.sh
  packer/proxmox/ubuntu-2404-server/scripts/setup.sh
  packer/proxmox/ubuntu-2404-server/secrets.pkrvars.hcl.example
  packer/proxmox/ubuntu-2404-server/variables.pkr.hcl
  packer/proxmox/ubuntu-server-jammy/files/99-pve.cfg
  packer/proxmox/ubuntu-server-jammy/http/meta-data
  packer/proxmox/ubuntu-server-jammy/http/user-data
  packer/proxmox/ubuntu-server-jammy/ubuntu-server-jammy.pkr.hcl
  packer/proxmox/ubuntu-server-noble/files/99-pve.cfg
  packer/proxmox/ubuntu-server-noble/http/meta-data
  packer/proxmox/ubuntu-server-noble/http/user-data
  packer/proxmox/ubuntu-server-noble/ubuntu-server-noble.pkr.hcl
  terraform/modules/proxmox-vm/main.tf
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/01-infrastructure/terraform.auto.tfvars.example
  terraform/stacks/01-infrastructure/variables.tf
Due: packer-fmt, packer-validate, shellcheck, shfmt, trivy-config

refactor: Refactor Proxmox Packer Templates and Scripts
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/02-kubernetes/main.tf
  terraform/stacks/02-kubernetes/variables.tf
  terraform/stacks/03-platform/main.tf
  terraform/stacks/03-platform/variables.tf
  terraform/stacks/04-applications/main.tf
  terraform/stacks/04-applications/variables.tf
Due: trivy-config

refactor: streamline Terraform environment variables in deploy workflow
  .github/workflows/terraform-deploy.yml
  .terraform-version
Due: trivy-config

refactor: streamline Terraform environment variables in deploy workflow
  .github/workflows/terraform-deploy.yml
  .terraform-version
  terraform/modules/proxmox-vm/main.tf
  terraform/stacks/01-infrastructure/main.tf
  terraform/stacks/02-kubernetes/main.tf
  terraform/stacks/03-platform/main.tf
  terraform/stacks/04-applications/main.tf
Due: trivy-config

refactor: streamline Terraform environment variables in deploy workflow
  .gitignore
  terraform/modules/proxmox-vm/.terraform.lock.hcl
  terraform/stacks/01-infrastructure/.terraform.lock.hcl
  terraform/stacks/02-kubernetes/.terraform.lock.hcl
  terraform/stacks/03-platform/.terraform.lock.hcl
  terraform/stacks/04-applications/.terraform.lock.hcl
Due: none

refactor: streamline Terraform environment variables in deploy workflow
  terraform/stacks/01-infrastructure/main.tf
Due: trivy-config

fix: feat: Introduce Vault Enterprise HA Cluster deployment
  terraform/stacks/01-vault/.terraform.lock.hcl
  terraform/stacks/01-vault/README.md
  terraform/stacks/01-vault/main.tf
  terraform/stacks/01-vault/outputs.tf
  terraform/stacks/01-vault/templates/haproxy-init.sh.tftpl
  terraform/stacks/01-vault/templates/haproxy.cfg.tftpl
  terraform/stacks/01-vault/templates/vault-config.hcl.tftpl
  terraform/stacks/01-vault/templates/vault-init.sh.tftpl
  terraform/stacks/01-vault/templates/vault.service.tftpl
  terraform/stacks/01-vault/variables.tf
  terraform/stacks/01-vault/versions.tf
Due: trivy-config

refactor: Vault deployment to use cloud-init for VM provisioning
  .pre-commit-config.yaml
  terraform/modules/proxmox-vm/main.tf
  terraform/modules/proxmox-vm/variables.tf
  terraform/stacks/01-vault/.terraform.lock.hcl
  terraform/stacks/01-vault/logs/run-St4ZWKKQPwRBQWgp-apply-log.txt
  terraform/stacks/01-vault/main.tf
  terraform/stacks/01-vault/outputs.tf
  terraform/stacks/01-vault/templates/haproxy-cloud-init.yaml.tftpl
  terraform/stacks/01-vault/templates/vault-cloud-init.yaml.tftpl
  terraform/stacks/01-vault/variables.tf
  terraform/stacks/01-vault/versions.tf
  terraform/stacks/04-applications/.terraform.lock.hcl
  terraform/stacks/04-applications/main.tf
  terraform/stacks/04-applications/outputs.tf
  terraform/stacks/04-applications/variables.tf
Due: trivy-config

feat: add ssh_private_key variable for Proxmox provider configuration
  terraform/stacks/01-vault/main.tf
  terraform/stacks/01-vault/variables.tf
Due: trivy-config

feat: Add Terraform configuration for Vault infrastructure
  terraform/stacks/01-vault/.gitignore
  terraform/stacks/02-vault-infra/.gitignore
  terraform/stacks/02-vault-infra/.terraform.lock.hcl
  terraform/stacks/02-vault-infra/README.md
  terraform/stacks/02-vault-infra/main.tf
  terraform/stacks/02-vault-infra/outputs.tf
  terraform/stacks/02-vault-infra/provider.tf
  terraform/stacks/02-vault-infra/variables.tf
Due: trivy-config

feat: Update allowed namespaces for Kubernetes authentication
  terraform/stacks/02-vault-infra/variables.tf
Due: trivy-config

feat: Add ACME provider for Let's Encrypt integration and update TLS certificate management
  terraform/stacks/01-vault/.terraform.lock.hcl
  terraform/stacks/01-vault/main.tf
  terraform/stacks/01-vault/outputs.tf
  terraform/stacks/01-vault/variables.tf
  terraform/stacks/01-vault/versions.tf
  terraform/stacks/02-vault-infra/provider.tf
  terraform/stacks/02-vault-infra/variables.tf
Due: trivy-config

feat: Add K3s Kubernetes cluster deployment with Vault integration and cloud-init provisioning
  terraform/stacks/03-kubernetes/.terraform.lock.hcl
  terraform/stacks/03-kubernetes/README.md
  terraform/stacks/03-kubernetes/main.tf
  terraform/stacks/03-kubernetes/outputs.tf
  terraform/stacks/03-kubernetes/templates/k3s-agent-cloud-init.yaml.tftpl
  terraform/stacks/03-kubernetes/templates/k3s-server-cloud-init.yaml.tftpl
  terraform/stacks/03-kubernetes/variables.tf
  terraform/stacks/03-kubernetes/versions.tf
Due: trivy-config
